body {
    font-family: 'Open Sans', sans-serif;
    /*overflow-x:hidden;*/
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #dbd7d4;
    position: inherit;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s linear;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 100;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-toggler {
    margin-left: auto;
    order: 2;
}

.about-us {
    background-color: #dbd7d4;
    padding-top: 20px;
    padding-bottom: 70px;
}

.music-school h4 {
    margin-top: 70px;
    font-size: 42px;
    text-align: left;
    font-weight: 100;
    padding-left: 50px;
    color: #2c3258;
    font-family: 'Open Sans', sans-serif;
}

.music-school p {
    text-align: left;
    font-weight: 100;
    padding-left: 50px;
    margin-top: 15px;
    color: #2c3258;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.main-photo img {
    height: 454px;
    width: 412px;
}

.main-photo p {
    text-align: center;
}

.piano img {
    margin-top: 90px;
    height: 290px;
    padding-left: 20px;
}

.btn-main {
    background-color: #e4b61a;
    padding: 15px 45px;
    border: none;
    outline: none;
    margin-left: 50px;
    margin-top: 30px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.btn-main:focus {
    outline: none;
    border: none;
}

.btn-main:hover{
    background-color: #2c3258;
}

.details {
    color: #AB9139;
    margin-left: 25px;
    font-size: 14px;
}

.details img {
    width: 70px;
}

.details:hover {
    color: #AB9139;
    text-decoration: none;
}

.navbar-brand {
    display: none;
}

.navbar-collapse {
    height: auto;
    right: -300px;
    width: 300px;
    position: absolute;
    top: 0;
    background-color: #000;
    bottom: 0;
    display: block;
    transition: right .35s ease;
    z-index: 5;
}

.show {
    right: 0;
    display: block;
}

.navbar-light .navbar-toggler {
    color: #fff;
    float: right;
    outline: none;
    font-size: 30px;
}

.navbar-toggler {
    border-radius: 50%;
    padding: 10px;
}

.navbar-toggler-icon {
    padding: 0;
}

.navbar-light .navbar-toggler {
    border: none;
}

.row-footer {
    height: 300px;
    background-color: #dbd7d4;
}

.mobile, .social, .web-studio {
    display: inline-block;
}

.phone {
    margin-top: 40px;
}

.mobile a {
    display: block;
    color: #2c3258;
    padding-left: 30px;
}

.mobile a:hover {
    color: #2c3258;
    display: block;
    padding-left: 30px;
    text-decoration: none;
}

.mission {
    background-color: #eaebef;
    padding: 0 0;
}

.mission h3{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    color: #2c3258;
    margin: 0 auto;
}

.mission .fa-quote-left, .mission .fa-quote-right{
    color: #dbd7d4;
    font-size: 30px;
    display: block;
}

.mission .fa-quote-left{
    margin-left: 13%;
    margin-bottom: -10px;
}

.mission .fa-quote-right{
    margin-left: 87%;
    margin-top: -10px;
}

.first-lesson{
    background-color: #eaebef;
    padding-bottom: 10px;
}

.first-lesson p{
    text-align: right;
}

.photo-first-lesson{
    padding: 0;
}

.photo-first-lesson img{
    width: 92%;
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
}

.about-first-lesson p{
    text-align: left;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    color: #2c3258;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    margin-bottom: 60px;
}

.description {
    background-color: #eaebef;
    z-index: 2;
    margin-left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
}

.features{
    background-color: #eaebef;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 140px;
}

.features .name-feature{
    display: inline-block;
    margin-top: 15px;
}

.features .name-feature img{
    width: 50px;
    padding-bottom: 16px;
}

.name-feature h6{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    max-width: 185px;
    line-height: 1.4;
    margin-bottom: 0;
    color: #2c3258;
}

.name-feature img, .name-feature h6{
    display: inline-block;
}

.about-feature p{
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.65;
    font-weight: 100;
    color: #2c3258;
    margin-top: 10px;
}

.for-children{
    background-color: #eaebef;
    padding-bottom: 100px;
    position: relative;
}

.about-children{
    padding-top: 50px;
    padding-bottom: 0;
}

.about-children h2{
    color:  #2c3258;
    font-size: 30px;
    font-family: 'Playfair Display',serif;
    line-height: 1.3;
    font-weight: 500;
    text-align: right;

}

.about-children p{
    color: #2c3258;
    font-size: 18px;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.65;
    font-weight: 100;
    width: 70%;
    margin: 0 auto;
}

.photo-children .color{
    background-color: #dbd7d4;
    width: 120px;
    height: 370px;
}

.photo-children{
    margin-left: 0;
    padding-left: 0;
}

.photo-children .img-children{
    z-index: 1;
    position: absolute;
    top: 38px;
    left: 15px;
    right: 10px;
    height: 300px;
    overflow: hidden;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    opacity: 0.5;
}

.carousel-control-prev-icon i, .carousel-control-next-icon i {
    color: #000;
    font-size: 31px;
    font-weight: 100;
    padding-top: 3px;
}


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #dbd7d4;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 100%;
    transition: opacity .6s ease;
    border-radius: 100%;
}

.carousel-indicators li:active {
    background-color: #b4aba5;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.for-adults{
    background-color: #eaebef;
    padding-bottom: 100px;
    position: relative;
}

.about-adults{
    padding-top: 50px;
    padding-bottom: 0;
}

.about-adults h2{
    color:  #2c3258;
    font-size: 30px;
    font-family: 'Playfair Display',serif;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;

}

.about-adults p{
    color: #2c3258;
    font-size: 18px;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.65;
    font-weight: 100;
    width: 70%;
    margin: 0 auto;
}

.photo-adults .color{
    background-color: #dbd7d4;
    width: 120px;
    height: 370px;
    float: right;
}

.photo-adults{
    margin-left: 0;
    padding-left: 0;
}

.photo-adults .img-adults{
    z-index: 1;
    position: absolute;
    top: 38px;
    right: 10px;
    height: 300px;
    overflow: hidden;
}

.pictures{
    padding: 50px 20px;
    background-color: #eaebef;
}

.picture img {
    width: 95%;
    height: 100%;
    margin: 2px;
}

.main-form{
    height: 800px;
    background-color: #eaebef;
    position: relative;
}

.main-form img{
    width: 100%;
    height: 500px;
}

.main-form form{
    z-index: 1;
    width: 100%;
    height: 600px;
    background-color: #dbd7d4;
    position: absolute;
}

.main-form ul{
    padding: 30px 30px;
}

.forms h3, .forms p{
    display: inline-block;
}

.forms h3{
    color: #2c3258;
    font-size: 25px;
    font-family: 'Playfair Display',serif;
    line-height: 1.43;
    font-weight: 500;
}

.forms p{
    color: #2c3258;
    font-size: 16px;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.52;
    font-weight: 100;
    margin-left: 150px;
}

.forms li{
    list-style-type: none;
    margin-top: 30px;
}

.forms button{
    background-color: #e4b61a;
    padding: 15px 45px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 30px;
}

.forms button:focus {
    outline: none;
    border: none;
}

.forms button:hover{
    background-color: #2c3258;
}

.form-group {
    position: relative
}

.form-group label {
    position: absolute;
    top: 0;
    transition: font-size .2s;
    font-size: 14px;
    font-family: 'Playfair Display',serif;
    color: #b4aba5;
}

.form-group input:focus + label {
    font-size: 10px;
}

.form-group  input{
    padding-top: 15px;
}

.form-control{
    outline: none;
    border: none;
    width: 90%;
    background-color:#dbd7d4;
    border-bottom: solid 1px #b4aba5;
    border-radius: 0%;
}

.form-control:focus, .form-control:active, .form-control:hover{
    outline: none;
    border: none;
    box-shadow: 0;
    background-color: #dbd7d4;
    border-bottom: solid 1px #b4aba5;
}





.social {
    text-align: center;
    display: block;
    padding-top: 50px;
}

.social i {
    height: 40px;
    width: 40px;
    vertical-align: top;
    display: inline-block;
}

.social .fa-facebook {
    border-radius: 20px;
    background-color: #000;
    color: #efeed4;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.social .instagram, .social .telegram {
    height: 40px;
    width: 40px;
    fill: #000000;
}

.web-studio p {
    display: inline-block;
    margin-top: 55px;
    padding: 0 30px;
    color: #2c3258;
}

.footer {
    text-align: center;
}

/*new arrow   */
.arrow-container {
    overflow: hidden;
    display: inline-block;
    line-height: 14px;
}

.arrow-container img {
    position: relative;
    left: -30px;
    transition: left .5s ease;
}

.details:hover .arrow-container img {
    left: 0;
}

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .navbar-light .navbar-brand {
        display: block;
    }

    .navbar-collapse {
        background-color: transparent;
    }

    .navbar-collapse {
        position: inherit;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }

    .navbar-nav {
        margin-top: 0px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #2c3258;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color: #000000;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #e4b61a;
    }

    .row-footer {
        height: 150px;
    }

    .footer {
        text-align: center;
    }

    .web-studio {
        text-align: right;
    }

    .mobile a {
        text-align: left;
    }

    .mission{
        padding: 130px 0;
    }

    .description{
        margin-left: -124px;
        margin-top: 60px;
    }

    .first-lesson{
        padding-bottom: 100px;
    }

    .photo-first-lesson img{
        width: 560px;
        text-align: right;
        margin: 0;
    }

    .about-first-lesson p{
        text-align: left;
        font-weight: 100;
        padding-left: 50px;
        margin-top: 15px;
        color: #2c3258;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.65;
        margin-bottom: 20px;
    }

    .name-feature h6{
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        max-width: 185px;
        line-height: 1.4;
        margin-bottom: 0;
        color: #2c3258;

    }

    .about-feature p{
        font-size: 16px;
        font-family: 'Open Sans',sans-serif;
        line-height: 1.65;
        font-weight: 100;
        color: #2c3258;
        margin-top: 0;
    }

    .features .name-feature img{
        width: 65px;
        padding-bottom: 26px;
    }

    .about-children{
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .about-children h2{
        color:  #2c3258;
        font-size: 30px;
        font-family: 'Playfair Display',serif;
        line-height: 1.3;
        font-weight: 500;
        margin-left: 40px;

    }

    .about-children p{
        color: #2c3258;
        font-size: 18px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.65;
        font-weight: 100;
        width: 70%;
        margin-top: 40px;
    }

    .photo-children .color{
        background-color: #dbd7d4;
        width: 240px;
        height: 100%;
    }

    .photo-children .img-children{
        z-index: 1;
        position: absolute;
        top: 45px;
        left: 65px;
        width: 575px;
        height: 421px;
        overflow: hidden;
    }

    .about-adults{
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .about-adults h2{
        color:  #2c3258;
        font-size: 30px;
        font-family: 'Playfair Display',serif;
        line-height: 1.3;
        font-weight: 500;
        margin-left: 40px;

    }

    .about-adults p{
        color: #2c3258;
        font-size: 18px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.65;
        font-weight: 100;
        width: 70%;
        margin-top: 40px;
    }

    .photo-adults .color{
        background-color: #dbd7d4;
        width: 240px;
        height: 100%;
    }

    .photo-adults .img-adults{
        z-index: 1;
        position: absolute;
        top: 45px;
        right: 65px;
        width: 575px;
        height: 421px;
        overflow: hidden;
    }

    .main-form form{
        z-index: 1;
        width: 900px;
        height: 600px;
        background-color: #dbd7d4;
        position: absolute;
        top: 150px;
        left: 15%;
    }

    .main-form ul{
        padding: 50px 90px;
    }

    .forms h3{
        color: #2c3258;
        font-size: 30px;
        font-family: 'Playfair Display',serif;
        line-height: 1.43;
        font-weight: 500;
    }

    .forms p{
        color: #2c3258;
        font-size: 16px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.52;
        font-weight: 100;
        margin-left: 100px;
    }

    .forms h3, .forms p{
        display: inline-block;
    }





}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

